[Default]
# select device
#device : AERIS
device : LGR


[Paths]
remotefolder : ./Data/Buffer
reprocess : True
reprocessfolder : ./Data/LocalBuffer
reprocess_skip_files : 0
kmlpath : ./Data/KML_files
maindir : ./Data
iconfolder : ./icon_folder


[LogParams]
startnum : 0
points_per_file : 300


# External GPS Settings
[GPS]
port : COM5
baudrate : 115200
bytesize : 8
parity : N
stopbits : 1
timeout : 1


# =============== 
# Devices
# ===============

# AERIS Settings
[AERIS] 
port : COM6
baudrate : 9600
bytesize : 8
stopbits : 1
parity : N
timelag : 3
separator : ,
external_gps : True
species : xch4 xc2h6 h2o 
xch4range : 2.0 2.4
xc2h6range : 0.0 30
h2orange : 8500 12000
# nbins : 16
nbins : 32
# column number in serial readout
xch4 : 7
xc2h6 : 9
h2o : 8 
lat : 18
lon : 19
alt : 20
# internal gps lat lon column
# lat : 16
# lon : 17
# lat : 7
# lon : 8
# alt : 9

# xcolum number in original line
# alt 


# LosGatos Settings
[LGR]
port : COM7
baudrate : 115200
bytesize : 8
parity : N
stopbits : 1
timeout : 1
timelag : 3
separator : ,
external_gps : True
# species and column number
species : xch4 xco xco2 
xch4range : 1.95 2.1
xcorange : 0.02 0.1
xco2range : 300 500
nbins : 16
xch4 : 10
xco : 14
xco2 : 12
lat : 33
lon : 34
alt : 35

