[Default]
# select devide 
device : aeris


# For plotting 
[Device]
# timelag : 28
# vrange: co2_min(387) co2_max ch4_min(1.82) ch4_max h2o_min h2o_max  co_min  co_max
#vrange :     400.0      415.0   1.90           1.98    0.9     1.2     0.0     0.7
species : ch4 c2h6 h2o
ch4range : 2.0 2.29
c2h6range : 4.68 4.73
h2orange : 12850 12880
#filenames : _position _flight_track _XCO2 _XCH4 _H2O _XCO
#filenames : _XCH4 _XC2H6
nbins : 16
numspecs : 60
dobuffer : 1
dryflag : 0
coflag : 1
# ext or int , int is not implemented yet

[Paths]
# remotefolder : \\2203-CFHADS2027\Buffer\
remotefolder : ./Data/Buffer
#reprocess : 1
reprocessfolder : ./Data/LocalBuffer
flighttrackfolder : ./Data/Buffer_flighttrack
# reprocessfolder : C:/Users/mamap/Documents/20180522_LocalBuffer_Testflug_Schoeneiche/
#skipfiles : 1
#iconfolder : /Users/mameyuna/stu/Romania_data/LGR 2026-01-23 Software Backup/PythonPrograms/icons/
# backuppath : C:\Users\yuna\Documents\Romaina\multidevice-live-data-plottin-main_GoogleEarth\src\Data\LocalBuffer
kmlpath : ./Data/KML_files
maindir : ./Data
iconfolder : ./icon_folder


[GPS]
port : COM3
baudrate : 115200
bytesize : 8
parity : N
stopbits : 1
timeout : 1

# =============== 
# for saving data
# ===============
[AERIS] 
port : COM4
GPSTyp : ext
species : ch4 c2h6 h2o
timelag : 3
# column number in bufer fle 
ch4 : 4
c2h6 : 5
h2o : 6
lat : 7
lon : 8
alt : 9

# xcolum number in original line
alt 


# logatos
[GGA]
port : COM7
baudrate : 115200
bytesize : 8
parity : N
stopbits : 1
timeout : 1
devicename : UGGAHella
timelag : 3
# species and column number
species : ch4 h2o co2
ch4 : 3
h2o : 5
co2 : 7
lat : 11
lon : 12
alt : 13


[LogParams]
startnum : 0
loglen : 300
